<div class="menu menu-inner-nav menu-right">
    <div class="menu-content">
        <ul class="link-group flex-box">
            <li class="link"><a href="#about-myname" target="_self"><span class="link-title">My Name</span><i class="fa fa-diamond" aria-hidden="true"></i></a></li>
            <li class="link"><a href="#about-mypassion" target="_self"><span class="link-title">My Passion</span><i class="fa fa-diamond" aria-hidden="true"></i></a></li>
            <li class="link"><a href="#about-mydreams" target="_self"><span class="link-title">My Dreams</span><i class="fa fa-diamond" aria-hidden="true"></i></a></li>
            <li class="link"><a href="#about-mybeliefs" target="_self"><span class="link-title">My Beliefs</span><i class="fa fa-diamond" aria-hidden="true"></i></a></li>
            <li class="link"><a href="#about-mylife" target="_self"><span class="link-title">My Life</span><i class="fa fa-diamond" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>

<div id="about-cover" class="flex-box background-cover">
    <h1><span>About</span></h1>
</div>
<div id="about-myname" class="container" data-location="about">
    <div class="flex-box">
        <section id="about-myname-pic" class="about-section background-cover"></section>
        <section class="about-section flex-box">
            <article>
                <h1>My Name</h1>
                <p>Let me introduce myself beginning with an explanation of the origin of my name. Before I was even born my
                    mother decided she would christen me as "Eduardo" due to one of the meanings of that name, "wealthy guardian".
                    That to me is a constant reminder of the desire of my mother to see me build my own wealth and of protecting
                    our greatest treasure, my sister.</p>
            </article>
        </section>
    </div>
</div>
<div id="about-mypassion" class="container" data-location="about">
    <div class="flex-box-reverse">
        <section id="about-mypassion-pic" class="about-section background-cover"></section>
        <section class="about-section flex-box">
            <article>
                <h1>My Passion</h1>
                <p>The one thing I enjoy the most in life is learning. With web-development I realized that whatever we think we know is as little as a grain of sand in a desert compared to all that we could learn. For that reason I always force myself to learning new things. At the beginning it can be really scary and overwhelming learning a new technology, language, skill, etc; but the sattisfaction that comes once we have mastered it is indescribable.</p>
            </article>
        </section>
    </div>
</div>
<div id="about-mydreams" class="container" data-location="about">
    <div class="flex-box">
        <section id="about-mydreams-pic" class="about-section background-cover"></section>
        <section class="about-section flex-box">
            <article>
                <h1>My Dreams</h1>
                <p>The one thing I enjoy the most in life is learning. With web-development I realized that whatever we think we know is as little as a grain of sand in a desert compared to all that we could learn. For that reason I always force myself to learning new things. At the beginning it can be really scary and overwhelming learning a new technology, language, skill, etc; but the sattisfaction that comes once we have mastered it is indescribable.</p>
            </article>
        </section>
    </div>
</div>