<navigator data-active="blog"></navigator>
<div data-wrapper="blog_entry">
    <div class="col-xs-12 be-header-image" data-ng-style="{'background-image' : 'url({{post.img_src}})', 'background-position' : '{{post.background_position}}'}"></div>
    <article class="container">
        <header class="row be-header">
            <h1 class="col-xs-12"><span data-ng-style="{'background-color' : '{{category.color}}'}">{{post.title}}</span></h1>
            <div class="col-xs-12">by {{author.name}}</div>
            <p class="col-xs-12"><small>created on {{post.date}}</small></p>
        </header>
        <div class="row be-content" data-ng-include="contentUrl">
        </div>
    </article>    
    <post-gallery data-posts="postsFiltered" data-category="category"></post-gallery>
</div>
