<navigator data-active="blog"></navigator>
<div data-wrapper="blog_entry">
    <article>
        <header data-ng-style="{'background-image': 'url({{post.img_src}})'}">
            <h1 data-ng-style="{'border-color': '{{category.color}}', 'text-shadow' : '1px 1px 10px {{category.color}}'}">{{post.title}}
            </h1>
        </header>
        <div class="container">
            <div class="row">
                <section class="col-xs-12 col-lg-8" data-ng-include="contentUrl"></section>
                <aside class="col-xs-12 col-lg-4"></aside>
            </div>
        </div>
    </article>
    <post-gallery data-posts="postsFiltered" data-author="author" data-category="category"></post-gallery>
</div>
<!--<div class="post-container" data-ng-style="{'background-image': 'url({{post.img_src}})'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 entry-title" >
                <h1 data-ng-style="{'border-color': '{{category.color}}', 'text-shadow' : '1px 1px 10px {{category.color}}'}">{{post.title}}</h1>
            </div>
        </div>
    </div>

    <div class="container card-look">
        <div class="row">    
            <div class="col-xs-12 col-lg-8">
                <div class="blog-content" data-ng-include="contentUrl"></div>            
            </div>
            <div class="col-xs-12 col-lg-4">
            </div>
        </div>
    </div>
    <imho-thumbnail data-posts="postsFiltered" data-author="author" data-category="category"></imho-thumbnail>
<div>-->
