<section class="flex-box featured-first">
    <a data-ng-href="#{{posts.featured[0].url}}" class="thumb thumb-lg" ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url({{posts.featured[0].image.url}})'}">
        <span class="thumb-info" data-category="{{posts.featured[0].category}}">
            <span class="thumb-title">{{posts.featured[0].title}}</span>
            <span class="thumb-details">
                <hr>
                <span class="thumb-cat_dat">{{posts.featured[0].category}} - {{posts.featured[0].date}}</span> 
            </span>
        </span>
    </a>
    <section class="flex-box featured-second">
        <a data-ng-href="#{{posts.featured[1].url}}" class="thumb thumb-md" ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url({{posts.featured[1].image.url}})'}">
            <span class="thumb-info" data-category="{{posts.featured[1].category}}">
                <span class="thumb-title">{{posts.featured[1].title}}</span>
                <span class="thumb-details">
                    <hr>
                    <span class="thumb-cat_dat">{{posts.featured[1].category}} - {{posts.featured[1].date}}</span>
                </span>
            </span>
        </a>
        <a data-ng-href="#{{posts.featured[2].url}}" class="thumb thumb-md" ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url({{posts.featured[2].image.url}})'}">
            <span class="thumb-info" data-category="{{posts.featured[2].category}}">
                <span class="thumb-title">{{posts.featured[2].title}}</span>
                <span class="thumb-details">
                    <hr>
                    <span class="thumb-cat_dat">{{posts.featured[2].category}} - {{posts.featured[2].date}}</span>
                </span>
            </span>
        </a>
    </section>
</section>
<section class="flex-box featured-third">
    <section class="flex-box">
        <a data-ng-href="#{{posts.featured[3].url}}" class="thumb thumb-sm" ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{posts.featured[3].image.url}})'}">
            <span class="thumb-info" data-category="{{posts.featured[3].category}}">
                <span class="thumb-title">{{posts.featured[3].title}}</span>
                <span class="thumb-details">
                    <hr>
                    <span class="thumb-cat_dat">{{posts.featured[3].category}} - {{posts.featured[3].date}}</span>
                </span>
            </span>
        </a>
        <a data-ng-href="#{{posts.featured[4].url}}" class="thumb thumb-sm" ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{posts.featured[4].image.url}})'}">
            <span class="thumb-info" data-category="{{posts.featured[4].category}}">
                <span class="thumb-title">{{posts.featured[4].title}}</span>
                <span class="thumb-details">
                    <hr>
                    <span class="thumb-cat_dat">{{posts.featured[4].category}} - {{posts.featured[4].date}}</span>
                </span>
            </span>
        </a>
    </section>
    <section class="flex-box">
        <a data-ng-href="#{{posts.featured[5].url}}" class="thumb thumb-sm" ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{posts.featured[5].image.url}})'}">
            <span class="thumb-info" data-category="{{posts.featured[5].category}}">
                <span class="thumb-title">{{posts.featured[5].title}}</span>
                <span class="thumb-details">
                    <hr>
                    <span class="thumb-cat_dat">{{posts.featured[5].category}} - {{posts.featured[5].date}}</span>
                </span>
            </span>
        </a>
        <a data-ng-href="#{{posts.featured[6].url}}" class="thumb thumb-sm" ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{posts.featured[6].image.url}})'}">
            <span class="thumb-info" data-category="{{posts.featured[6].category}}">
                <span class="thumb-title">{{posts.featured[6].title}}</span>
                <span class="thumb-details">
                    <hr>
                    <span class="thumb-cat_dat">{{posts.featured[6].category}} - {{posts.featured[6].date}}</span>
                </span>
            </span>
        </a>
    </section>
</section>
