<div class="row">
  <div class="col-lg-12 embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="iframe_container" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="https://prezi.com/embed/8wmnfxqgh8vf/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWmlSa1k1MmNRK3VoaXFhTktOYzU5Ynl1M2d3RmxIcTEya1lPR1VNQkE3VFByVTFQcDNrYmNYTnRCYU9oL2V5SmprT2x6VGJSUW1QM3ArYSt3TkdKQT09&amp;landing_sign=Qp_o0qwSd5H8LoODQk7SL0w9OQ49OPnNj8wc_LU8Tv4#"></iframe>
  </div>
</div>
