<h1 id="my-name">Eduardo Aguilar Cortés</h1>
<div class="container-fluid home-card-container">
    <div class="row">
        <div id="blog" class="col-md-4 home-card">
            <h1><a href="#/blog">Blog</a></h1>
        </div>
        <div id="about" class="col-md-4 home-card">
            <h1><a href="#/about">About</a></h1>
        </div>
        <div id="projects" class="col-md-4 home-card">
            <h1><a href="#/projects">Projects</a></h1>
        </div>
    </div>
</div>
<style>
    @import 'https://fonts.googleapis.com/css?family=Sacramento';
    #my-name {
        font-family : 'Sacramento';
        text-align : center;
        padding-top : 15px;
    }
    .home-card-container {
        height : 100vh
    }
        .home-card-container .row {
        height : 100%
        }
        .home-card-container > .row > .home-card{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    .home-card {
        background-position : center !important;
        background-repeat : no-repeat !important;
    }
        .home-card > h1 > a{
            color : white;
            font-family : 'Monoton';
            background-color: black;
            padding: 15px;
            border-radius: 30px;
        }
    #about{
        background : url("http://i.giphy.com/9Dt0TrhMAxjrO.gif");
    }
    #blog{
        background : url("http://i.giphy.com/jtgMr19M4GfJK.gif");
    }
    #projects{
        background : url("http://i.giphy.com/2YRO3kKSpFeA8.gif");
    }
    #about > h1 > a:hover {
        text-shadow : 2px 2px 10px orange;
    }
    #blog > h1 > a:hover {
        text-shadow : 2px 2px 10px purple;
    }
    #projects > h1 > a:hover {
        text-shadow : 2px 2px 10px blue;
    }
    @media (max-width : 767px){
        .home-card-container>.row {
            height : 33.33% !important;
        }
        .home-card {
            margin-bottom : 20px;
        }
        #about > h1 > a {
            text-shadow : 2px 2px 10px orange;
        }
        #blog > h1 > a {
            text-shadow : 2px 2px 10px purple;
        }
        #projects > h1 > a {
            text-shadow : 2px 2px 10px blue;
        }
        #my-name {
            padding-bottom : 15px;
        }
    }
</style>