<div class="container">
    <div class="row" data-ng-style="{'border-color' : '{{category.color}}'}">
        <div class="col-xs-12 cont-title">
            <h2 data-ng-style="{'color' : '{{category.color}}'}">{{category.name}}</h2>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 cont-body" data-ng-style="{'background-image': 'url({{posts[0].img.src}})'}">
                    <h2><a data-ng-href="{{posts[0].url}}">{{posts[0].title}}</a></h2>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 cont-body" data-ng-style="{'background-image': 'url({{posts[1].img.src}})'}">
                    <h2><a data-ng-href="{{posts[1].url}}">{{posts[1].title}}</a></h2>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 cont-body" data-ng-style="{'background-image': 'url({{posts[2].img.src}})'}">
                    <h2><a data-ng-href="{{posts[2].url}}">{{posts[2].title}}</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
imho-thumbnail > .container {
    background-color : white;
    margin-bottom : 2rem;
    margin-top : 2rem;
    padding-bottom : 1rem;
    padding-top : 1rem;
}
    imho-thumbnail > .container > .row {
    background-color : black;
    padding-top : 15px;
    padding-bottom : 15px;
    margin : 0;
    border : 0;
    border-top : 10px;
    border-bottom : 10px;
    border-style : double;
    }
        imho-thumbnail > .container > .row .row {
            height : 33vh;
            overflow : hidden;
        }
.cont-body {
    height : 33vh;
    background-color : aquamarine;
    background-clip : content-box;
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center;
    display : flex;    
    justify-content : center;
    align-items : center;
}
    .cont-body > h2 {
        background-color : rgba(0,0,0,0.75);
        padding : 10px;
        width : 95%;
        text-align : center;
    }
        .cont-body > h2 > a {
            color : white;
            font-family : 'Sacramento';
        }
.cont-title > h2 {
    text-align : center;
    font-family : 'Monoton', cursive;
}
</style>


