<!--<img ng-src="{{posts.img.src}}" alt="{{posts.img.alt}}">
<h4><a data-ng-href="{{posts.url}}">{{posts.title}}</a></h4>
<p>{{posts.description}}</p>

<style>
	imho-thumbnail > img {
		width : 100%;
		height : 175px;
	}
	imho-thumbnail > h4, imho-thumbnail p {
		text-align : center;
		margin-top : 1rem;
	}
	imho-thumbnail a {
		color : black;
	}
</style>
-->
<div class="container">
    <div class="row" data-ng-style="">
        <div class="col-xs-12 cont-title"></div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 cont-body" data-ng-style="{'background-image': 'url({{posts[0].img.src}})'}">
                    <h4><a data-ng-href="{{posts[0].url}}">{{posts[0].title}}</a></h4>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 cont-body" data-ng-style="{'background-image': 'url({{posts[1].img.src}})'}">
                    <h4><a data-ng-href="{{posts[1].url}}">{{posts[1].title}}</a></h4>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 cont-body" data-ng-style="{'background-image': 'url({{posts[2].img.src}})'}">
                    <h4><a data-ng-href="{{posts[2].url}}">{{posts[2].title}}</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
imho-thumbnail > .container {
    background-color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
    imho-thumbnail > .container > .row {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    border: 10px 0;
    border-style: double;
    }
    imho-thumbnail > .container > .row .row {
    height: 33vh;
    overflow: hidden;
    }
.cont-body {
    height: 33vh;
    background-color: aquamarine;
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
</style>


