<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron" style="
    background: url(&quot;https://upload.wikimedia.org/wikipedia/commons/f/fe/20091007_Graffiti_Shanghai_7373.jpg&quot;);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #010504;
">
                <h1 class="display-4 text-xs-left" style="
    color: white;
    height: 100%;
    ">In My Honest Opinion</h1>
            </div>
        </div>
    </div>
</div>
