<!--
<div class="media">
	<div class="media-left media-middle">
		<a data-ng-href="{{thumbInfo.url}}">
			<img class="media-object" ng-src="{{thumbInfo.img.src}}" alt="{{thumbInfo.img.alt}}">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{thumbInfo.title}}</h4>
		<p{{thumbInfo.description}}</p>
	</div>
</div>
-->

<img class="img-fluid" ng-src="{{thumbInfo.img.src}}" alt="{{thumbInfo.img.alt}}">
<h4><a data-ng-href="{{thumbInfo.url}}">{{thumbInfo.title}}</a></h4>
<p>{{thumbInfo.description}}</p>



<div class="card card-inverse text-center">
	<img class="img-fluid card-img-top" ng-src="http://i.giphy.com/I37q1XjGvAtjy.gif" alt="{{thumbInfo.img.alt}}" style="height: 33.33vh;">
	<div class="card-img-overlay" style="background-color: rgba(103, 58, 183, 0.21);">
		<h4 class="card-title"><a data-ng-href="{{thumbInfo.url}}">{{thumbInfo.title}}</a></h4>
		<p class="card-text">{{thumbInfo.description}}</p>
	</div>
</div>

<style>

</style>