<!DOCTYPE html>
<html ng-app="Blog">
<head>
  
  <title>My Blog</title>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Indie+Flower" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/postStyle.css"><!--
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>-->
  <script src="scripts/jquery-2.1.3.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/angular-route.min.js"></script>
  <script src="scripts/angular-resource.min.js"></script>
  <script src="scripts/angular-sanitize.min.js"></script>
  <script src="myScripts/app.js"></script>
  <script src="myScripts/blogServices.js"></script>
  <script src="myScripts/controllers.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-default" ng-controller="NavController">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home">Eduardo Aguilar</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{active : isTab('About')}" ng-click="setTab('About')" data-toggle="collapse" data-target="#navbar-collapse"><a href="#/about">About</a></li>
          <li ng-class="{active : isTab('Notes')}" ng-click="setTab('Notes')" data-toggle="collapse" data-target="#navbar-collapse"><a href="#/notes">Notes</a></li>
          <li ng-class="{active : isTab('Blog')}" ng-click="setTab('Blog')" data-toggle="collapse" data-target="#navbar-collapse"><a href="#/blog">Library</a></li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Proyectos<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://github.com/EdwardC94/BLOG/tree/gh-pages/Sudoku">Resuelve Sudokus</a></li>
              <li><a href="https://github.com/EdwardC94/BLOG/tree/gh-pages/Sudoku">Calculadora</a></li>
              <!--  Commented until I get more proyects to add on
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li> -->
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
         <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true">  </span><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="">Action</a></li>
              <li><a href="">Another action</a></li>
              <li><a href="">Something else here</a></li>
              <li class="divider"></li>
             <li><a href="">Separated link</a></li>
            </ul>
          </li>
       </ul>
      </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
  </nav>
  <div ng-view class="container-fluid the-views"></div>
</body>
</html>
