/*Font-family imports*/
@import 'https://fonts.googleapis.com/css?family=Monoton|Sacramento|Source+Sans+Pro';
/*Font-family imports*/

div[data-wrapper] {
    height : 40rem;
    width : 100%;
}

/*Style for Home Page BEGINNING*/
div[data-wrapper="home"] > h2 {
    font : 500 2rem 'Sacramento';
    text-align : center;
    animation: cool-effect 2s infinite;
    color : white;
    background-color : black;
}

div[data-wrapper="home"] > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position : center !important;
    background-repeat : no-repeat !important;
    height : 33.33% !important;
    width : 100%;
    border: 0.5rem solid white;
}
div[data-wrapper="home"] > div:nth-of-type(1) {
    background : url("http://i.giphy.com/jtgMr19M4GfJK.gif");
}
div[data-wrapper="home"] > div:nth-of-type(2) {
    background : url("http://i.giphy.com/9Dt0TrhMAxjrO.gif");
}
div[data-wrapper="home"] > div:nth-of-type(3) {
    background : url("http://i.giphy.com/2YRO3kKSpFeA8.gif");
}
    div[data-wrapper="home"] > div > h1 > a{
        color : white;
        font-family : 'Monoton';
        background-color: black;
        padding: 1rem;
        border-radius: 2rem;
    }
    div[data-wrapper="home"] > div:nth-of-type(1) > h1 > a {
        text-shadow : 2px 2px 10px greenyellow;
    }
    div[data-wrapper="home"] > div:nth-of-type(2) > h1 > a {
        text-shadow : 2px 2px 10px orange;
    }
    div[data-wrapper="home"] > div:nth-of-type(3) > h1 > a {
        text-shadow : 2px 2px 10px #00e2ff;
    }
/*Style for Home Page END*/
@keyframes cool-effect {
    0% {text-shadow :  1px 1px 1px #ff5722;}
    10% {text-shadow :  1px 1px 1px #f44336;}
    20% {text-shadow: 1px 1px 1px #e91e63;}
    30% {text-shadow :  1px 1px 1px #9c27b0;}
    40% {text-shadow :  1px 1px 1px #3f51b5;}
    50% {text-shadow: 1px 1px 1px #2196f3;}
    60% {text-shadow :  1px 1px 1px #009688;}
    70% {text-shadow :  1px 1px 1px #4caf50;}
    80% {text-shadow: 1px 1px 1px #cddc39;}
    90% {text-shadow :  1px 1px 1px #ffeb3b;}
    100% {text-shadow: 1px 1px 1px #ffc107;}
}
/*Style for Blog_entry BEGINNING*/

div[data-wrapper="blog_entry"] {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color : #f1f1f1;
    background-attachment : fixed;
}
div[data-wrapper="blog_entry"] > article > header {
    display: flex;
    align-items: center;
    align-content: center;
    height: 25rem;
    max-width : 98%;
}
    div[data-wrapper="blog_entry"] > article > header > h1 {
        background-color: rgba(0,0,0,0.9);
        color: white;
        padding: 0.5rem 0.25rem;
        font-family: 'Monoton';
        border : 0.65rem double rgba(0,0,0,0.9);
        border-left : none
        font-size : 2rem;
    }
div[data-wrapper="blog_entry"] > article > section {
    width : 100%;
}
/*Style for Blog_entry END*/

/*Style for directives*/

/*Stlye for navigator*/

navigator > div > h3 {
    margin-bottom: 0;
    background-color: black;
    color: white;
    font-family: 'Sacramento';
    display: flex;
    justify-content: center
}
navigator > div > h3 > span {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 3px black;
    display: flex;
}
navigator[data-active="blog"] > div > h3 > span:nth-child(1), navigator > div > h3 > span:nth-child(1):hover {
    background-image : url("http://i.giphy.com/jtgMr19M4GfJK.gif"); 
}
navigator[data-active="about"] > div > h3 > span:nth-child(2), navigator > div > h3 > span:nth-child(2):hover{    
    background-image : url("http://i.giphy.com/9Dt0TrhMAxjrO.gif"); 
}
navigator[data-active="projects"] > div > h3 > span:nth-child(3), navigator > div > h3 > span:nth-child(3):hover{    
    background-image : url("http://i.giphy.com/2YRO3kKSpFeA8.gif"); 
}
navigator > div > h3 > span > a {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.62);
    color : white !important; 
}

/*Media Queries */
/* Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) { 
    div[data-wrapper="blog_entry"] > article > header > h1 {
        font-size : 3rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    div[data-wrapper="blog_entry"] > article > header > h1 {
        font-size : 4rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
/*HOME BEGINNING*/
    div[data-wrapper="home"] > div {
        height: 100% !important;
        width : 33.33%;
        float : left;
    }
        div[data-wrapper="home"] > div:nth-of-type(1) > h1 > a:hover {
            text-shadow : 2px 2px 10px greenyellow;
        }
        div[data-wrapper="home"] > div:nth-of-type(2) > h1 > a:hover {
            text-shadow : 2px 2px 10px orange;
        }
        div[data-wrapper="home"] > div:nth-of-type(3) > h1 > a:hover {
            text-shadow : 2px 2px 10px #00e2ff;
        }
        div[data-wrapper="home"] > div > h1 > a {
            text-shadow : none;
        }
/*HOME END*/
/*BLOG_ENTRY BEGINNING*/
    div[data-wrapper="blog_entry"] > article > header > h1 {
        font-size : 5rem;
    }
/*BLOG_ENTRY END*/
    div[data-wrapper="blog_entry"] > article {
        background-size: cover;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
/*Media Queries */

/*Style for Home Page*/
