/*Font-family imports*/
@import 'https://fonts.googleapis.com/css?family=Monoton';
/*Font-family imports*/

/*Style for directives*/

/*Style for imho-banner*/
imho-banner .jumbotron {
    background: url("https://upload.wikimedia.org/wikipedia/commons/f/fe/20091007_Graffiti_Shanghai_7373.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #010504;
}
imho-banner h1 {
    color : white;
    font-family : 'Monoton', cursive;
}

/*Style for directives*/
