<section class="col-xs-12 col-lg-7">
    <p>The other day I was discussing something really interesting with my uncle. There is a somewhat new trend in the world of banking in which lenders are paying a comission to borrowers. We are speaking of course about lends among banks. So, I could not help but to be intrigued about this. How is it benefitial for a bank to pay to another bank to keep their money with them. Typically it is the other way around, banks pay you to keep your money with them. So I made a little research, and this is what I finially understood.</p>
    <p>Banks for a the average person like me are institutions that allow people to keep their savings and ask for loans when they need more money that they currently have. This relationship remains similar among banks. There is a Central Bank to which other banks ask for loans when they need money to fulfill their obligations, and they also borrow money to another banks when it i</p>
</section>
<aside class="col-xs-12 col-lg-4">

</aside>
