<section class="col-xs-12 col-lg-7">
    <p>The other day I was discussing something really interesting with my uncle. We were talking about negative interest rates. According to what he told me, this means that the lender pays to the borrower to have their money. The more I thought about it, the less it made sense to me. I mean, why would a </p>
    <p>Banks for a the average person like me are institutions that allow people to keep their savings and ask for loans when they need more money that they currently have. This relationship remains similar among banks. There is a Central Bank to which other banks ask for loans when they need money to fulfill their obligations, and they also borrow money to another banks when it i</p>
</section>
<aside class="col-xs-12 col-lg-4">

</aside>
