//About route styling. Basically we have a system that creates 6 slides
.about-section {
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;

    &>article {
        font-family: 'Josefin Sans';
        padding : 0 3rem;

        &>h1 {
            font-weight: normal;
        }

        &>p {
            font-size: 0.9rem;
            color: #444
        }

    }
}

//Section-specific styling
#about-cover {
    background-image: url(../images/about/about-cover-pic.jpg);
    justify-content: center;

    &>h1 {
        color : black;
        font-family: "Josefin Sans";
        font-size: 3.5rem;
        text-align: center;

        &>span {
            padding: 1rem 2rem;
            background-color: white
        }
    }
}

#about-myname {
    padding : 0 calc(50% - 12.5rem);

    p {
        font-weight: bold;
    }
}

#about-mypassion{
    background-image: url(../images/about/about-mypassion-pic.jpg);
    background-size: 100% 50%; 
    background-position: top;
    
    &>.flex-box-reverse{
        flex-flow: column nowrap;

        &>.about-section {
            &.flex-box {
                background-color: #444;
            }
        
            &>article {
                background-color: #444;

                &>h1 {
                    color: #f8f8ff
                }

                &>p {
                    color: #d3d3d3 !important
                }
            }
        }
    }
}

#about-mydreams {
    background-color: black;

    h1 {
        color: white
    }

    p {
        color: lightgray !important
    }
    
}

#about-myname-pic {
    background-image: url(../images/about/about-myname-pic.jpg);
}

#about-mydreams-pic {
    background-image: url(../images/about/about-mydreams-pic.jpg);
}


@media (min-width: 544px) {
    .about-section>article {
        padding: 0 3rem;

        &>p {
            font-size: 1rem
        }
    }
}

@media (min-width: 768px) {
    .container[data-location="about"] {
        padding : 0 !important;

        &>.flex-box {
            flex-flow: row nowrap;

            &-reverse {
                flex-flow: row-reverse nowrap !important
            }
        }
    }

    #about-mydreams>.flex-box {
        flex-flow: column !important;

        &>.background-cover {
            flex: 6 1 60%
        }

        &>.flex-box {
            flex: 4 1 40%;
        }
    }

    #about-mypassion{
        background-attachment: fixed;
        background-size: 100% 100%;
        background-position: center; 

        &>.flex-box-reverse>.flex-box {
            background-color:  transparent !important
        }
    }
    
    .about-section>article {
        padding: 0 4rem;

        &>h1 {
            font-size: 2rem
        }

        &>p {
            font-size: 1.1rem
        }
    }
}

@media (min-width: 992px) {
    .about-section>article {
        padding: 0 5rem;

        &>h1 {
            font-size: 2.2rem
        }

        &>p {
            font-size: 1.2rem
        }
    }
}

@media (min-width: 1200px) {
    .about-section>article {
        padding: 0 7rem;
    }
}

