#main-menu {
    .link {
        align-items: center;
        display: flex;
        margin: .25rem;
        text-decoration: none!important;
        
        &[href="#/about"] {
            background-image: linear-gradient(141deg,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 100%),url(../images/gral/img/about.PNG);

            &:hover {
                background-image: linear-gradient(141deg,rgba(255,0,0,.25) 0,rgba(0,255,0,.25) 70%,rgba(0,0,255,.25) 90%),url(../images/gral/img/about.gif)
            }
        }

        &[href="#/projects"] {
            background-image: linear-gradient(141deg,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 100%),url(../images/gral/img/projects.PNG);

            &:hover {
                background-image: linear-gradient(141deg,rgba(255,0,0,.25) 0,rgba(0,255,0,.25) 70%,rgba(0,0,255,.25) 90%),url(../images/gral/img/projects.gif)
            }
        }

        &[href="#/blog"] {
            background-image: linear-gradient(141deg,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 100%),url(../images/gral/img/blog.PNG);

            &:hover {
                background-image: linear-gradient(141deg,rgba(255,0,0,.25) 0,rgba(0,255,0,.25) 70%,rgba(0,0,255,.25) 90%),url(../images/gral/img/blog.gif)
            }
        }

        &.link-big {
            background-position: center,center;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: "Permanent Marker";
            font-size: 1.5rem;
            height: 4rem;

            &>span {
                width: 100%;
                overflow: hidden;
                color: #fff;
                text-align: center
            }
        }

        &.link-small {
            color: #000!important;
            height: 2rem;
            overflow: hidden;
            padding: .5rem;
            margin: 0 .25rem;

            &:hover {
                background-color: #464646;
                color: #fff!important
            }

            &>i {
                margin-right: .5rem;
                background-color: #fff;
                padding: .25rem;
                border-radius: .25rem;
                width: 1.5rem;
                text-align: center
            }
        }
    }  
}