.thumb {
    align-items: flex-end;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: 0 100%,cover;
    display: flex;
    filter: contrast(120%);
    font-family: 'Josefin Sans',sans-serif; 
    justify-content: flex-end;
    padding: .25rem;
    text-align: right;
    text-decoration: none;

    &:hover {
        background-size: 100%,cover;
        filter: grayscale(100%) contrast(90%); 

        &>.thumb-info {            
            color: white;
            height: calc(100% - .5rem);
            background-color: transparent;

            &>.thumb-title, &>.thumb-details {
                display: inline-block;
                width: 100%
            }
        }        
    }

    &-sm {
        background-color: aquamarine;
        flex: 1 1 50%;

        &>.thumb-info {
            height: 2.5rem;

            &>.thumb-title {
                font-size: 1.5rem;
                height : 2.5rem;
            }
            hr {
                margin: 0 0 0.5rem 0
            }
        }
    }

    &-md {
        background-color: purple;
        flex: 1 1 50%;
    }

    &-lg {
        background-color: red;
        flex: 1 1 40%;
    }

    &-info {
        margin: .25rem;
        padding: 0 1rem;
        height: 3.4rem;
        transition: all .1s linear;
        color: black;
        background-color: white;
    }

    &-title {
        font-size: 2.5rem;
        overflow: hidden;
        height: 3rem;
        font-weight: 700;
        display: inline-block;
    }

    &-details {
        display: none;

        &>hr {
            border-color: #fff;
            margin: 0 0 1rem 0           
        }
    }

    &-cat_dat {
        text-align: left;
        text-transform: uppercase
    }
}

@media (min-width: 544px) {
    .thumb-lg {
        flex: 3 1 60%;

        :hover>.thumb-info {
            max-width: 75%
        }

        .thumb-info {
            height: 4.2rem;
        }

        .thumb-title {
            font-size: 3rem;
            height: 4.2rem
        }
    }
    
}

@media (min-width: 768px) {
    .thumb-lg:hover>.thumb-info {
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .thumb-lg:hover>.thumb-info {
        max-width:75%
    }
}