@import url(https://fonts.googleapis.com/css?family=Monoton|Sacramento|Source+Sans+Pro|Permanent+Marker|Josefin+Sans:300);
#main {
  min-height: 100vh;
  min-width: 21rem; }

div[data-ng-view] {
  height: 100%; }

.container, .container-fluid {
  height: 100%; }

.background-cover {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(110%); }

.flex-box, .flex-box-reverse {
  display: flex;
  flex-flow: column nowrap;
  height: 100%; }
  .flex-box-reverse {
    flex-flow: column-reverse nowrap; }

@media (min-width: 1280px) {
  .container {
    padding-right: calc(50% - 40rem);
    padding-left: calc(50% - 40rem); } }
#brand-bar {
  height: 2.375rem;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, white, rgba(255, 255, 255, 0) 70%);
  z-index: 2; }
  #brand-bar > span {
    background-image: url(../images/icons/android-icon-36x36.png);
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    margin-top: 0.187rem; }

.menu {
  width: 15rem;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.46);
  transition: all .2s linear;
  position: fixed;
  border-right: .0625rem solid #d3d3d3;
  z-index: 3; }
  .menu-right {
    right: 0;
    border-right: 0;
    border-left: .0625rem solid #d3d3d3; }
    .menu-right > .menu-btn {
      text-align: left; }
  .menu-btn {
    background-color: #5c0f5b;
    color: #edff00;
    text-align: right;
    padding: .25rem .65rem;
    cursor: pointer;
    font-size: 1.25rem; }
  .menu-content {
    height: calc(100% - 3rem);
    overflow-y: auto; }
    .menu-content > hr {
      width: calc(100% - .5rem);
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .menu.closed {
    width: 2.25rem !important;
    background-color: transparent;
    box-shadow: none;
    border: 0; }
    .menu.closed > .menu-btn {
      background-color: #2b2b2b;
      color: #c1c1c1;
      text-align: center;
      padding: .25rem 0; }
      .menu.closed > .menu-btn:hover {
        color: white; }
    .menu.closed > .menu-content {
      width: 0;
      overflow: hidden; }

#main-menu .link {
  align-items: center;
  display: flex;
  margin: .25rem;
  text-decoration: none !important; }
  #main-menu .link[href="#/about"] {
    background-image: linear-gradient(141deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../images/gral/img/about.PNG); }
    #main-menu .link[href="#/about"]:hover {
      background-image: linear-gradient(141deg, rgba(255, 0, 0, 0.25) 0, rgba(0, 255, 0, 0.25) 70%, rgba(0, 0, 255, 0.25) 90%), url(../images/gral/img/about.gif); }
  #main-menu .link[href="#/projects"] {
    background-image: linear-gradient(141deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../images/gral/img/projects.PNG); }
    #main-menu .link[href="#/projects"]:hover {
      background-image: linear-gradient(141deg, rgba(255, 0, 0, 0.25) 0, rgba(0, 255, 0, 0.25) 70%, rgba(0, 0, 255, 0.25) 90%), url(../images/gral/img/projects.gif); }
  #main-menu .link[href="#/blog"] {
    background-image: linear-gradient(141deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../images/gral/img/blog.PNG); }
    #main-menu .link[href="#/blog"]:hover {
      background-image: linear-gradient(141deg, rgba(255, 0, 0, 0.25) 0, rgba(0, 255, 0, 0.25) 70%, rgba(0, 0, 255, 0.25) 90%), url(../images/gral/img/blog.gif); }
  #main-menu .link.link-big {
    background-position: center,center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Permanent Marker";
    font-size: 1.5rem;
    height: 4rem; }
    #main-menu .link.link-big > span {
      width: 100%;
      overflow: hidden;
      color: #fff;
      text-align: center; }
  #main-menu .link.link-small {
    color: #000 !important;
    height: 2rem;
    overflow: hidden;
    padding: .5rem;
    margin: 0 .25rem; }
    #main-menu .link.link-small:hover {
      background-color: #464646;
      color: #fff !important; }
    #main-menu .link.link-small > i {
      margin-right: .5rem;
      background-color: #fff;
      padding: .25rem;
      border-radius: .25rem;
      width: 1.5rem;
      text-align: center; }
      #main-menu .link.link-small > i.fa-stack-overflow {
        color: orangered; }
      #main-menu .link.link-small > i.fa-linkedin {
        color: #0177b5; }
      #main-menu .link.link-small > i.fa-twitter {
        color: #1da1f2; }
      #main-menu .link.link-small > i.fa-instagram {
        color: saddlebrown; }
      #main-menu .link.link-small > i.fa-github {
        color: purple; }

.menu-inner-nav {
  background-color: transparent;
  box-shadow: none;
  border: 0; }
  .menu-inner-nav > .menu-content {
    height: 100%; }
    .menu-inner-nav > .menu-content > .link-group {
      color: black;
      list-style: none;
      padding: 10rem 0;
      margin: 0; }
      .menu-inner-nav > .menu-content > .link-group > .link {
        color: black;
        flex: 1 1 20%;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        padding-right: .5rem;
        font-size: 0.75rem; }
        .menu-inner-nav > .menu-content > .link-group > .link > a {
          text-decoration: none;
          padding: 0.2rem 0.5rem; }
          .menu-inner-nav > .menu-content > .link-group > .link > a > .link-title {
            color: black;
            padding-right: 1rem;
            display: none;
            font-family: "Josefin Sans";
            font-weight: bold;
            background-color: white; }
          .menu-inner-nav > .menu-content > .link-group > .link > a > .fa {
            border: 0.0625rem solid gold;
            padding: 0.25rem;
            background-color: white;
            border-radius: 50%;
            color: darkgray; }
          .menu-inner-nav > .menu-content > .link-group > .link > a:hover {
            background-color: white;
            border: 0.0625rem dotted gold; }
            .menu-inner-nav > .menu-content > .link-group > .link > a:hover > .link-title {
              display: inline-block; }

.thumb {
  align-items: flex-end;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center;
  background-size: 0 100%,cover;
  display: flex;
  filter: contrast(120%);
  font-family: 'Josefin Sans',sans-serif;
  justify-content: flex-end;
  padding: .25rem;
  text-align: right;
  text-decoration: none; }
  .thumb:hover {
    background-size: 100%,cover;
    filter: grayscale(100%) contrast(90%); }
    .thumb:hover > .thumb-info {
      color: white;
      height: calc(100% - .5rem);
      background-color: transparent; }
      .thumb:hover > .thumb-info > .thumb-title, .thumb:hover > .thumb-info > .thumb-details {
        display: inline-block;
        width: 100%; }
  .thumb-sm {
    background-color: aquamarine;
    flex: 1 1 50%; }
    .thumb-sm > .thumb-info {
      height: 2.5rem; }
      .thumb-sm > .thumb-info > .thumb-title {
        font-size: 1.5rem;
        height: 2.5rem; }
      .thumb-sm > .thumb-info hr {
        margin: 0 0 0.5rem 0; }
  .thumb-md {
    background-color: purple;
    flex: 1 1 50%; }
  .thumb-lg {
    background-color: red;
    flex: 1 1 40%; }
  .thumb-info {
    margin: .25rem;
    padding: 0 1rem;
    height: 3.4rem;
    transition: all .1s linear;
    color: black;
    background-color: white; }
  .thumb-title {
    font-size: 2.5rem;
    overflow: hidden;
    height: 3rem;
    font-weight: 700;
    display: inline-block; }
  .thumb-details {
    display: none; }
    .thumb-details > hr {
      border-color: #fff;
      margin: 0 0 1rem 0; }
  .thumb-cat_dat {
    text-align: left;
    text-transform: uppercase; }

@media (min-width: 544px) {
  .thumb-lg {
    flex: 3 1 60%; }
    .thumb-lg :hover > .thumb-info {
      max-width: 75%; }
    .thumb-lg .thumb-info {
      height: 4.2rem; }
    .thumb-lg .thumb-title {
      font-size: 3rem;
      height: 4.2rem; } }
@media (min-width: 768px) {
  .thumb-lg:hover > .thumb-info {
    max-width: 100%; } }
@media (min-width: 992px) {
  .thumb-lg:hover > .thumb-info {
    max-width: 75%; } }
.featured-first {
  height: 125%; }
.featured-second {
  flex: 3 1 60%; }
.featured-third {
  height: 75%; }
  .featured-third > .flex-box, .featured-third > .flex-box-reverse {
    flex: 1 1 50%; }

@media (min-width: 544px) {
  .featured-first {
    height: 100%; }
  .featured-second {
    flex-flow: row nowrap;
    flex: 2 1 40%; }
  .featured-third {
    flex-flow: row nowrap;
    height: 40%; } }
@media (min-width: 768px) {
  .featured-first {
    flex-flow: row nowrap;
    height: 75%; }
  .featured-second {
    flex-flow: column nowrap; }
  .featured-third {
    height: 25%; }
    .featured-third > .flex-box, .featured-third > .flex-box-reverse {
      flex-flow: row nowrap; } }
.about-section {
  flex: 1 1 50%;
  justify-content: center;
  align-items: center; }
  .about-section > article {
    font-family: 'Josefin Sans';
    padding: 0 3rem; }
    .about-section > article > p {
      font-size: 0.9rem;
      font-weight: bold;
      color: #444; }

#about-cover {
  background-image: url(../images/about/about-cover-pic.jpg);
  justify-content: center; }
  #about-cover > h1 {
    color: black;
    font-family: "Josefin Sans";
    font-size: 3.5rem;
    text-align: center; }
    #about-cover > h1 > span {
      padding: 1rem 2rem;
      background-color: white; }

#about-myname {
  padding: 0 calc(50% - 12.5rem); }

#about-mypassion {
  background-color: #444; }
  #about-mypassion > .flex-box-reverse {
    flex-flow: column nowrap; }
  #about-mypassion h1 {
    color: #f8f8ff; }
  #about-mypassion p {
    color: #d3d3d3 !important; }

#about-mydreams {
  background-color: black; }
  #about-mydreams h1 {
    color: white; }
  #about-mydreams p {
    color: lightgray !important; }

#about-myname-pic {
  background-image: url(../images/about/about-myname-pic.jpg); }

#about-mypassion-pic {
  background-image: url(../images/about/about-mypassion-pic.jpg); }

#about-mydreams-pic {
  background-image: url(../images/about/about-mydreams-pic.jpg); }

@media (min-width: 544px) {
  .about-section > article {
    padding: 0 3rem; }
    .about-section > article > p {
      font-size: 1rem; } }
@media (min-width: 768px) {
  .container[data-location="about"] {
    padding: 0 !important; }
    .container[data-location="about"] > .flex-box, .container[data-location="about"] > .flex-box-reverse {
      flex-flow: row nowrap; }
      .container[data-location="about"] > .flex-box-reverse {
        flex-flow: row-reverse nowrap !important; }

  #about-mydreams > .flex-box, #about-mydreams > .flex-box-reverse {
    flex-flow: column !important; }
    #about-mydreams > .flex-box > .background-cover, #about-mydreams > .flex-box-reverse > .background-cover {
      flex: 6 1 60%; }
    #about-mydreams > .flex-box > .flex-box, #about-mydreams > .flex-box-reverse > .flex-box, #about-mydreams > .flex-box > .flex-box-reverse, #about-mydreams > .flex-box-reverse > .flex-box-reverse {
      flex: 4 1 40%; }

  .about-section > article {
    padding: 0 4rem; }
    .about-section > article > h1 {
      font-size: 2rem; }
    .about-section > article > p {
      font-size: 1.1rem; } }
@media (min-width: 992px) {
  .about-section > article {
    padding: 0 5rem; }
    .about-section > article > h1 {
      font-size: 2.2rem; }
    .about-section > article > p {
      font-size: 1.2rem; } }
@media (min-width: 1200px) {
  .about-section > article {
    padding: 0 7rem; } }

/*# sourceMappingURL=style.css.map */
