<post>
    <post-section-fw>
        <p>There are a few reasons why I chose to display the image of Tobey Maguire's Spider-Man over the others. First and foremost because that guy was born to give life to Peter Parker. I could not have been the only one who cried when he cried and and when something good happenned to him.</p>
        <p>However, I also chose him, because the other adapations of the comic-book to the big screen lack things that many fans consider essential to the story of Spider-Man. That is why I figured I would share my list of 5 things that the upcoming movie of Spider-Man is doing wrong before its release date or things that I wish they did not mess with.</p>
    </post-section-fw>
    <post-section>
        <h3>1. Aunt May</h3>
        <p>Of course Aunt May comes first on my list. The main thing that would make Peter a hero, even if he did not have his powers, is his set of values. After the passing of his uncle, he commited to place justice and a responsible use of his gift above anything else. That is why I find this version of Aunt May so troublesome: Aunt May cannot be a MILF. It is just my opinion, but I think that Aunt May's vulnerability, fight spirit and wisdom are what made Spidey choose to use his powers not for himself, but to help others.</p>
    </post-section>
    <post-aside>
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--9xu7_naw--/1332048819555403043.jpg" alt="New Aunt May" class="img-fluid">
    </post-aside>
    <post-section>
        <h3>2. Financial hardship</h3>
        <p>It is yet to be seen if in "Spider-Man: Homecoming" we will continue to see our favorite wall-crawler struggle with money, but for what we were able to see on his appearence in "Captain America: Civil War", Peter seems to live in a somewhat nice appartment that the original Aunt May would not have been able to afford paying. Then again, he might see him move from his Aunt's apartment in the movie, but so far I am a little concerned about Marvel Studios not giving him enough problems, if that makes sense.</p>
    </post-section>
    <post-aside>
        <img src="https://36.media.tumblr.com/b5baaa34ca3a82f17f7b2b3303c0fb50/tumblr_inline_o0ha1shHUn1t706xw_540.jpg" alt="Losing the house" class="img-fluid"> 
    </post-aside> 
    <post-section>
        <h3>3. The costume</h3>
        <p>I was not sure about including this one in the beginning, becasue some fans might find interesting to see a costume that has a better resemblance to the one that Spider-Man used to wear back in the day. But upon second thought I realized that it would have been easier for me to accept this if this version of Spider-Man was a standalone that does not share a universe with the other Avengers. This is because while the other Avenger</p>    
    </post-section>   
</post>
