<post>
    <post-section-fw>
        <p>There are a few reasons why I chose to display the image of Tobey Maguire's Spider-Man over the others. First and foremost because that guy was born to give life to Peter Parker. I could not have been the only one who cried when he cried and and when something good happenned to him.</p>
        <p>However, I also chose him, because the other adapations of the comic-book to the big screen lack things that many fans consider essential to the story of Spider-Man. That is why I figured I would share my list of 5 things that the upcoming movie of Spider-Man is doing wrong before its release date or things that I wish they did not mess with.</p>
    </post-section-fw>
    <post-section>
        <h3>1. Aunt May</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </post-section>
    <post-aside>
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--9xu7_naw--/1332048819555403043.jpg" alt="New Aunt May" class="img-fluid">
    </post-aside>
</post>
