<post>
    <post-section-fw>
        <p>There are a few reasons why I chose to display the image of Tobey Maguire's Spider-Man over the others. First and foremost, because that guy was born to give life to Peter Parker. I could not have been the only one who cried whenever he cried and also whenever something good happenned to him.</p>
        <p>However, I also chose him, because the other adapations of the comic-book to the big screen lack things that many fans consider essential to the story of Spider-Man. That is why I figured I would share my list of the 5 things that the upcoming movie of Spider-Man is doing wrong before its release date or things that I wish they did not mess with.</p>
    </post-section-fw>
    <post-section>
        <h3>1. Aunt May</h3>
        <p>Of course Aunt May comes first in my list. The main thing that makes Peter a hero, even without super powers, is the set of values he got by being raised by his aunt and uncle. For that reason alone Aunt May simply cannot be a MILF. Aunt May's vulnerability, fight spirit and wisdom are, along with the passing of his Uncle, what made Spidey commit to making a responsible use of his gift and use it not for himself, but to help others.</p>
    </post-section>
    <post-aside>
        <img data-ng-src="{{imagesUrl}}new-aunt-may.JPG" alt="New Aunt May" class="img-fluid">
    </post-aside>
    <post-section>
        <h3>2. Financial Hardship</h3>
        <p>It is yet to be seen if in "Spider-Man: Homecoming" we will continue to see our favorite wall-crawler struggle with money, but for what we were able to see on his appearence in "Captain America: Civil War", Peter seems to live in a somewhat nice appartment that the original Aunt May would not have even dreamed of being able to afford paying for. Then again, we might see him move from his Aunt's apartment in the movie, but so far I am a little concerned about Marvel Studios not giving him enough problems, if that makes sense. To make matters worse, Iron Man might even become his Fairy Godmother.</p>
    </post-section>
    <post-aside>
        <img data-ng-src="{{imagesUrl}}losing-the-house.JPG" alt="Losing the house" class="img-fluid"> 
    </post-aside> 
    <post-section>
        <h3>3. The costume</h3>
        <p>I was not sure about including this one in the beginning, because some fans might find interesting to see a costume that has a better resemblance to the one that Spider-Man used to wear back in the day. But upon second thought I realized that it would have been easier for me to accept this if this version of Spider-Man was a standalone that does not share a universe with the other Avengers. This is because, while the other Avengers are rocking amazing suits, Marvel Studios decided to make this Spider-Man look like a bad cosplay straight out of Comic-Con.</p>    
    </post-section>
    <post-aside>
        <img ng-src="{{imagesUrl}}new-costume.JPG" alt="Losing the house" class="img-fluid"> 
    </post-aside> 
</post>
