//The colors for the categories

$listen-color : #a326e6;
$sci_tech-color : #18bfc5;
$live-color : #ff1f8f;
$eco_pol-color : #55d800;
$watch-color : #efb508;
$society-color : #FF5722;
$read-color : #00dc62;
